In [10]:
import pandas as pd

In [11]:
import numpy as np

In [12]:
train_data = pd.read_csv("titanic/data/train.csv")

In [14]:
test_data = pd.read_csv("titanic/data/test.csv")

In [16]:
women_survived = train_data.loc[train_data.Sex == 'female']['Survived']

In [18]:
rate_women_survived = sum(women_survived)/len(women_survived)

In [19]:
rate_women_survived

0.7420382165605095

In [20]:
men_survived = train_data.loc[train_data.Sex == 'male']["Survived"]

In [21]:
rate_men_survived = sum(men_survived)/len(men_survived)

In [22]:
rate_men_survived

0.18890814558058924

In [94]:
from sklearn.ensemble import RandomForestClassifier

In [24]:
y = train_data["Survived"]

In [25]:
features = ["Pclass", "Sex", "SibSp", "Parch"]

In [26]:
X = pd.get_dummies(train_data[features])

In [27]:
X_test = pd.get_dummies(test_data[features])

In [95]:
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)

In [96]:
model.fit(X, y)

RandomForestClassifier(max_depth=5, random_state=1)

In [97]:
predictions = model.predict(X_test)

In [98]:
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('my_submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [41]:
print(train_data['Age'].isnull())

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888     True
889    False
890    False
Name: Age, Length: 891, dtype: bool

In [42]:
age_is_null = train_data['Age'].isnull()

In [43]:
age_is_empty = [x for x in age_is_null if x]

In [44]:
len(age_is_empty)

177

In [45]:
features

['Pclass', 'Sex', 'SibSp', 'Parch']

In [46]:
features.append('Cabin')

In [99]:
def prepare_data():
    global X, X_test
    X = pd.get_dummies(train_data[features])
    X_test = pd.get_dummies(test_data[features])

In [107]:
prepare_data()

In [56]:
age_is_null

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888     True
889    False
890    False
Name: Age, Length: 891, dtype: bool

In [57]:
train_data[age_is_null]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [58]:
no_age = train_data[age_is_null]

In [62]:
age_is_null

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888     True
889    False
890    False
Name: Age, Length: 891, dtype: bool

In [63]:
age_is_not_null = train_data['Age'].notnull()

In [64]:
age_is_not_null

0       True
1       True
2       True
3       True
4       True
       ...
886     True
887     True
888    False
889     True
890     True
Name: Age, Length: 891, dtype: bool

In [65]:
with_age = train_data[age_is_not_null]

In [66]:
with_age.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [67]:
len(no_age)

177

In [68]:
len(with_age)

714

In [69]:
type(2)

int

In [70]:
type(with_age)

pandas.core.frame.DataFrame

In [71]:
with_age

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [72]:
age = train_data['Age']

In [74]:
type(age)

pandas.core.series.Series

In [75]:
age.map

<bound method Series.map of 0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64>

In [76]:
age.map(lambda x: print(x))

22.0
38.0
26.0
35.0
35.0
nan
54.0
2.0
27.0
14.0
4.0
58.0
20.0
39.0
14.0
55.0
2.0
nan
31.0
nan
35.0
34.0
15.0
28.0
8.0
38.0
nan
19.0
nan
nan
40.0
nan
nan
66.0
28.0
42.0
nan
21.0
18.0
14.0
40.0
27.0
nan
3.0
19.0
nan
nan
nan
nan
18.0
7.0
21.0
49.0
29.0
65.0
nan
21.0
28.5
5.0
11.0
22.0
38.0
45.0
4.0
nan
nan
29.0
19.0
17.0
26.0
32.0
16.0
21.0
26.0
32.0
25.0
nan
nan
0.83
30.0
22.0
29.0
nan
28.0
17.0
33.0
16.0
nan
23.0
24.0
29.0
20.0
46.0
26.0
59.0
nan
71.0
23.0
34.0
34.0
28.0
nan
21.0
33.0
37.0
28.0
21.0
nan
38.0
nan
47.0
14.5
22.0
20.0
17.0
21.0
70.5
29.0
24.0
2.0
21.0
nan
32.5
32.5
54.0
12.0
nan
24.0
nan
45.0
33.0
20.0
47.0
29.0
25.0
23.0
19.0
37.0
16.0
24.0
nan
22.0
24.0
19.0
18.0
19.0
27.0
9.0
36.5
42.0
51.0
22.0
55.5
40.5
nan
51.0
16.0
30.0
nan
nan
44.0
40.0
26.0
17.0
1.0
9.0
nan
45.0
nan
28.0
61.0
4.0
1.0
21.0
56.0
18.0
nan
50.0
30.0
36.0
nan
nan
9.0
1.0
4.0
nan
nan
45.0
40.0
36.0
32.0
19.0
19.0
3.0
44.0
58.0
nan
42.0
nan
24.0
28.0
nan
34.0
45.5
18.0
2.0
32.0
26.0
16.0
40.0
24.0
35.0
22.0
30.0
nan
31.0
27.0
42.0
32.0
30.0
16.0
27.0
51.0
nan
38.0
22.0
19.0
20.5
18.0
nan
35.0
29.0
59.0
5.0
24.0
nan
44.0
8.0
19.0
33.0
nan
nan
29.0
22.0
30.0
44.0
25.0
24.0
37.0
54.0
nan
29.0
62.0
30.0
41.0
29.0
nan
30.0
35.0
50.0
nan
3.0
52.0
40.0
nan
36.0
16.0
25.0
58.0
35.0
nan
25.0
41.0
37.0
nan
63.0
45.0
nan
7.0
35.0
65.0
28.0
16.0
19.0
nan
33.0
30.0
22.0
42.0
22.0
26.0
19.0
36.0
24.0
24.0
nan
23.5
2.0
nan
50.0
nan
nan
19.0
nan
nan
0.92
nan
17.0
30.0
30.0
24.0
18.0
26.0
28.0
43.0
26.0
24.0
54.0
31.0
40.0
22.0
27.0
30.0
22.0
nan
36.0
61.0
36.0
31.0
16.0
nan
45.5
38.0
16.0
nan
nan
29.0
41.0
45.0
45.0
2.0
24.0
28.0
25.0
36.0
24.0
40.0
nan
3.0
42.0
23.0
nan
15.0
25.0
nan
28.0
22.0
38.0
nan
nan
40.0
29.0
45.0
35.0
nan
30.0
60.0
nan
nan
24.0
25.0
18.0
19.0
22.0
3.0
nan
22.0
27.0
20.0
19.0
42.0
1.0
32.0
35.0
nan
18.0
1.0
36.0
nan
17.0
36.0
21.0
28.0
23.0
24.0
22.0
31.0
46.0
23.0
28.0
39.0
26.0
21.0
28.0
20.0
34.0
51.0
3.0
21.0
nan
nan
nan
33.0
nan
44.0
nan
34.0
18.0
30.0
10.0
nan
21.0
29.0
28.0
18.0
nan
28.0
19.0
nan
32.0
28.0
nan
42.0
17.0
50.0
14.0
21.0
24.0
64.0
31.0
45.0
20.0
25.0
28.0
nan
4.0
13.0
34.0
5.0
52.0
36.0
nan
30.0
49.0
nan
29.0
65.0
nan
50.0
nan
48.0
34.0
47.0
48.0
nan
38.0
nan
56.0
nan
0.75
nan
38.0
33.0
23.0
22.0
nan
34.0
29.0
22.0
2.0
9.0
nan
50.0
63.0
25.0
nan
35.0
58.0
30.0
9.0
nan
21.0
55.0
71.0
21.0
nan
54.0
nan
25.0
24.0
17.0
21.0
nan
37.0
16.0
18.0
33.0
nan
28.0
26.0
29.0
nan
36.0
54.0
24.0
47.0
34.0
nan
36.0
32.0
30.0
22.0
nan
44.0
nan
40.5
50.0
nan
39.0
23.0
2.0
nan
17.0
nan
30.0
7.0
45.0
30.0
nan
22.0
36.0
9.0
11.0
32.0
50.0
64.0
19.0
nan
33.0
8.0
17.0
27.0
nan
22.0
22.0
62.0
48.0
nan
39.0
36.0
nan
40.0
28.0
nan
nan
24.0
19.0
29.0
nan
32.0
62.0
53.0
36.0
nan
16.0
19.0
34.0
39.0
nan
32.0
25.0
39.0
54.0
36.0
nan
18.0
47.0
60.0
22.0
nan
35.0
52.0
47.0
nan
37.0
36.0
nan
49.0
nan
49.0
24.0
nan
nan
44.0
35.0
36.0
30.0
27.0
22.0
40.0
39.0
nan
nan
nan
35.0
24.0
34.0
26.0
4.0
26.0
27.0
42.0
20.0
21.0
21.0
61.0
57.0
21.0
26.0
nan
80.0
51.0
32.0
nan
9.0
28.0
32.0
31.0
41.0
nan
20.0
24.0
2.0
nan
0.75
48.0
19.0
56.0
nan
23.0
nan
18.0
21.0
nan
18.0
24.0
nan
32.0
23.0
58.0
50.0
40.0
47.0
36.0
20.0
32.0
25.0
nan
43.0
nan
40.0
31.0
70.0
31.0
nan
18.0
24.5
18.0
43.0
36.0
nan
27.0
20.0
14.0
60.0
25.0
14.0
19.0
18.0
15.0
31.0
4.0
nan
25.0
60.0
52.0
44.0
nan
49.0
42.0
18.0
35.0
18.0
25.0
26.0
39.0
45.0
42.0
22.0
nan
24.0
nan
48.0
29.0
52.0
19.0
38.0
27.0
nan
33.0
6.0
17.0
34.0
50.0
27.0
20.0
30.0
nan
25.0
25.0
29.0
11.0
nan
23.0
23.0
28.5
48.0
35.0
nan
nan
nan
36.0
21.0
24.0
31.0
70.0
16.0
30.0
19.0
31.0
4.0
6.0
33.0
23.0
48.0
0.67
28.0
18.0
34.0
33.0
nan
41.0
20.0
36.0
16.0
51.0
nan
30.5
nan
32.0
24.0
48.0
57.0
nan
54.0
18.0
nan
5.0
nan
43.0
13.0
17.0
29.0
nan
25.0
25.0
18.0
8.0
1.0
46.0
nan
16.0
nan
nan
25.0
39.0
49.0
31.0
30.0
30.0
34.0
31.0
11.0
0.42
27.0
31.0
39.0
18.0
39.0
33.0
26.0
39.0
35.0
6.0
30.5
nan
23.0
31.0
43.0
10.0
52.0
27.0
38.0
27.0
2.0
nan
nan
1.0
nan
62.0
15.0
0.83
nan
23.0
18.0
39.0
21.0
nan
32.0
nan
20.0
16.0
30.0
34.5
17.0
42.0
nan
35.0
28.0
nan
4.0
74.0
9.0
16.0
44.0
18.0
45.0
51.0
24.0
nan
41.0
21.0
48.0
nan
24.0
42.0
27.0
31.0
nan
4.0
26.0
47.0
33.0
47.0
28.0
15.0
20.0
19.0
nan
56.0
25.0
33.0
22.0
28.0
25.0
39.0
27.0
19.0
nan
26.0
32.0

0      None
1      None
2      None
3      None
4      None
       ...
886    None
887    None
888    None
889    None
890    None
Name: Age, Length: 891, dtype: object

In [78]:
import math

In [79]:
math.isnan(nan)

NameError: name 'nan' is not defined

In [80]:
filled_age = age.map(lambda x: x if math.isnan(x) == False else 28)

In [81]:
age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [82]:
filled_age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

In [83]:
filled_age[6]

54.0

In [84]:
filled_age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    28.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [89]:
filled_age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    28.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [90]:
type(filled_age)

pandas.core.series.Series

In [92]:
type(X)

pandas.core.frame.DataFrame

In [104]:
X.head()

   Pclass  SibSp  Parch  Sex_female  Sex_male
0       3      1      0           0         1
1       1      1      0           1         0
2       3      0      0           1         0
3       1      1      0           1         0
4       3      0      0           0         1

In [102]:
features

['Pclass', 'Sex', 'SibSp', 'Parch']

In [103]:
features.append('Age')

In [105]:
features

['Pclass', 'Sex', 'SibSp', 'Parch', 'Age']

In [109]:
prepare_data()

In [110]:
X.head()

   Pclass  SibSp  Parch   Age  Sex_female  Sex_male
0       3      1      0  22.0           0         1
1       1      1      0  38.0           1         0
2       3      0      0  26.0           1         0
3       1      1      0  35.0           1         0
4       3      0      0  35.0           0         1

In [111]:
X['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [112]:
X['Age'] = filled_age

In [113]:
X.head()

   Pclass  SibSp  Parch   Age  Sex_female  Sex_male
0       3      1      0  22.0           0         1
1       1      1      0  38.0           1         0
2       3      0      0  26.0           1         0
3       1      1      0  35.0           1         0
4       3      0      0  35.0           0         1

In [114]:
X['Age'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Age, Length: 891, dtype: bool

In [115]:
age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [116]:
X['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    28.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [117]:
prepare_data()

In [121]:
def train_model():
    global predictions, X, y, X_test
    model.fit(X, y)
    predictions = model.predict(X_test)
    output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
    output.to_csv('my_submission.csv', index=False)
    print("Your submission was successfully saved!")

In [123]:
model.fit(X, y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [124]:
X['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [125]:
X['Age'] = filled_age

In [126]:
X['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    28.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [127]:
model.fit(X, y)

RandomForestClassifier(max_depth=5, random_state=1)

In [128]:
predictions = model.predict(X_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [129]:
X_test

     Pclass  SibSp  Parch   Age  Sex_female  Sex_male
0         3      0      0  34.5           0         1
1         3      1      0  47.0           1         0
2         2      0      0  62.0           0         1
3         3      0      0  27.0           0         1
4         3      1      1  22.0           1         0
..      ...    ...    ...   ...         ...       ...
413       3      0      0   NaN           0         1
414       1      0      0  39.0           1         0
415       3      0      0  38.5           0         1
416       3      0      0   NaN           0         1
417       3      1      1   NaN           0         1

[418 rows x 6 columns]

In [130]:
def fill_age(age_list, value):
    return age_list.map(lambda x: x if math.isnan(x) == False else value)

In [131]:
X_test['Age'] = fill_age(X_test['Age'], 28)

In [132]:
model.predict(X_test)

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [137]:
def output_predictions(test_data, predictions, message):
    output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
    output.to_csv('my_submission_' + message + '.csv', index=False)
    print("Your submission " + message + " was successfully saved!")

In [138]:
output_predictions(test_data, predictions, "filled_age with average")

Your submission filled_age with average was successfully saved!